@model LoginJulianOrtizV.Models.UsuariosModel
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Pug Error Page Responsive Widget Template :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Pug Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="~/css/style3.css" rel="stylesheet" />
</head>

<body>
    <section class="w3l-error-9">
        <div class="error-page">
            <div class="wrapper-full">
                <div class="main-content">
                    <h2> HOLA @Model.UserName</h2>
                    <p>Bienvenido a NBC Latam</p>
                    <!-- buttons -->
                    <div class="buttons">
                        <a href="~/usuarios/Login" class="btn brk-btn-bg brk-btn">
                            Go to login
                        </a>
                        <a href="~/usuarios/Contacto" class="btn brk-btn">
                            Contact Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>

</html>
